<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Visitas</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/estilos.css') }}"
        />
    </head>
    <body>
            <div class="container mt-5">
                <h1 class="text-center">Contador de Visitas</h1>
                <div class="alert alert-info text-center">
                    ¡Has visitado esta página {{ visitas }} veces!
                </div>
                <p class="text-center">
                    <a href="/" class="btn btn-primary">Volver a visitar</a>
                </p>
                <p class="text-center">
                    <a href="/destruir_sesion" class="btn btn-danger">Reiniciar contador</a>
                </p>
                <p class="text-center">
                    <a href="/aumentar_visitas" class="btn btn-success">Aumentar N°Visitas +2</a>
                </p>
                <p class="text-center">
                    <a href="/reiniciar_visitas" class="btn btn-warning">Restablecer visitas a 0</a>
                </p>
                <form action="/formulario_cantidad" method="POST" class="text-center mt-4">
                    <div class="mb-3">
                        <label for="cantidad" class="form-label">Ingresa un número para aumentar las visitas:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" required />
                    </div>
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </form>
                <div class="alert alert-warning text-center">
                    El contador de visitas ha sido reiniciado {{ reinicios }} veces.
                </div>           
            </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    </body>
</html>
