body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form-container {
    border: 3px solid #00b5e2;
    background-color: #00b5e2;
    padding: 20px;
    height: 500px;
    width: 800px;
    justify-content: center;
    align-items: center;
    
}

.negrita {
    font-weight: bold;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: yellow;
}

.turquoise {
    color: turquoise;
}